/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

input {
    border: none;
    background: #191919;
    border-radius: 15px;
    color: seashell;
    font-size: .9em;
    padding: 1.2rem 6.2rem 1.2rem 1.25rem ;
    margin-right: 15px;
    font-weight: 700;
    letter-spacing: 1.1px;
}
input[type=text]:focus {
    border: none !important;
    outline: none;
  }


/*
 * Base structure
 */

 .cover-container {
    max-width: 75em !important;
}

html,
body {
  height: 100%;
  background: url(bg.png);
  background-size: cover;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  text-align: center;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    /* float: left; */
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 1.2rem 2.5rem ;
  font-weight: 600;
  font-size: .9em;
  background: linear-gradient(to right,#d83b31, #801c4d);
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
  letter-spacing: 1.2px;
}




/* Text */
.c-subheading-top {
    text-transform: uppercase;
    letter-spacing: .5ch;
    margin-bottom: -.8em;
}

.finish-heading-top {
  text-transform: uppercase;
  letter-spacing: .5ch;
  margin-bottom: 1em;
}

.finish-sub-heading-top {
  font-size: 3em;
  font-weight: 700;
}

.c-subheading-bottom {
    text-transform: uppercase;
    letter-spacing: .5ch;
    margin-bottom: 1em;
    margin-top: -.8em;
}

h1 {
    font-size: 12em;
    font-weight: 700 !important;
    background: linear-gradient(360deg, #fff, #ff6e54 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gpaHeading {
  font-size: 2.8em;
  margin-bottom: 20px;
}

.lying {
  margin-top: .7em;
  margin-bottom: 1.4em;
  color: #818181;

}

.lead.main {
    padding: 18px 150px;
    font-weight: 400;
    font-size: 1.05em;
}

.lead {
    padding: 18px 0 18px 0;
    font-weight: 400;
    font-size: 1.05em;
}

.yearCardText {
  padding: 18px 0 18px 0;
  font-weight: 400;
  font-size: .85em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.stepCount {
  font-size: 1.4em;
  font-weight: 700;
  background: linear-gradient(120deg,#f7483c 49.3%, #801c4d 53.4%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Card Boxes */

.statsCard {
  box-sizing: border-box;
  padding: 25px;
  border-radius: 15px;
  width: 19.6em;
  height: 160px;
  background: linear-gradient(to right,#0a0a0b, #101214);
  margin: 15px;
  /* margin-top: 3.8em;
  margin-bottom: 3.8em; */
  text-align: left !important;
}

.schoolCard {
  /* display: inline-block;
  box-sizing: border-box; */
  width: 130px;
  height: 160px;
  background: rgb(71, 71, 71);
  margin: 20px;
  margin-top: 3.8em;
  margin-bottom: 3.8em;
}

.schoolCard:hover {
  box-shadow: 0 0 3pt 2px #851d4b;
  cursor: pointer;
}

.yearCard {
  /* display: inline-block;
  box-sizing: border-box; */
  width: 130px;
  height: 60px;
  background: linear-gradient(to right,#0a0a0b, #101214)  ;
  margin: 5px;
  border-radius: 10px;
  /* margin-top: 1.8em; */
  /* margin-bottom: 3.8em; */
}

.yearCard:hover {
  box-shadow: 0 0 3pt 2px #851d4b;
  cursor: pointer;
}

.cardSelected {
  box-shadow: 0 0 1pt 1.5px #851d4b;
  cursor: pointer;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

ul.yearButtons {
  margin-top:15px !important;
}

ul {
  padding-left: 0;
  /* display: flex; */
  /* flex-flow: row wrap; */
}

li {
  display: inline-block;
  box-sizing: border-box;
  list-style-type: none;
  padding: 10px 10px;
  transition: all 0.3s ease;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  text-align: center;
  -webkit-appearance: none; 
  margin: 0; 
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


/* Button Design */

.finishButton {
  display: inline-block;
  padding: 1rem 3.8rem ;
  font-weight: 700;
  font-size: .9em;
  background: linear-gradient(to right,#d83b31, #801c4d);
  color: white;
  text-transform: uppercase;
  text-decoration: none !important;
  text-shadow: none;
  border: none;
  border-radius: 18px;
  letter-spacing: 4px;
  margin: 15px 0 !important;
}

.btnempty {
	background-image: linear-gradient(to right, #f7483c 0%, #801c4d 100%);
	border-radius: 15px;
  box-sizing: border-box;
	color: #801c4d;
	display: block;
	font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
	height: 55px;
  letter-spacing: 3px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1.8em;
	padding: 1px;
	position: relative;
  text-decoration: none;
	text-transform: uppercase;
	width: 160px;
	z-index: 2;
}

.btnempty:hover {
  color: #fff;
  text-decoration: none;
}

.btnempty span {
	align-items: center;
	background: #020202;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.btnempty:hover span {
	background: transparent;
}

